@{
  ViewBag.Title = "Simple Website";
}
<div class="row">
  <div class="span9">
    <h1>Lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper at arcu et auctor. Proin pellentesque odio vitae massa ultricies, auctor pulvinar nisl faucibus. Vivamus varius sed dui ut accumsan. Quisque vehicula erat id neque sollicitudin, vel venenatis ante accumsan. Donec erat ipsum, suscipit in libero vitae, bibendum rhoncus nunc. Quisque vitae nibh erat. Proin commodo magna at convallis mattis. Cras bibendum nisl in lacus accumsan, nec sodales tellus eleifend. Phasellus eleifend lacus nec hendrerit rhoncus. Integer sollicitudin interdum ultricies. In dignissim ultricies consequat. Ut nec consectetur dolor.</p>
    <p>Nam vitae pellentesque enim. Morbi sed auctor quam. Nunc sit amet lacinia risus. Nunc egestas nisi vitae purus congue auctor. Pellentesque ullamcorper porttitor nisi, at tempus quam sagittis quis. Donec bibendum a elit nec bibendum. Pellentesque lacus est, fermentum eu posuere non, lobortis eget arcu. Duis ullamcorper egestas tincidunt.</p>
    <p>Suspendisse placerat risus vel tortor egestas consequat. Proin mollis in nisl at congue. Proin rhoncus sodales odio id dignissim. Donec sed semper augue. Maecenas vel libero id tellus porttitor consectetur ac vitae nisi. Fusce sagittis sollicitudin dignissim. Curabitur sem nunc, molestie sit amet bibendum ut, mattis et urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed in libero velit. Aenean imperdiet nibh eros, eu tincidunt dolor semper id.</p>
    <p>Integer euismod quam a metus dignissim, et pulvinar augue consectetur. Aliquam erat volutpat. Nulla varius auctor consequat. Vestibulum dapibus magna vitae tortor vulputate pellentesque. Nunc in quam odio. Phasellus id elementum leo. Nullam ante nibh, auctor ut mauris at, dictum dignissim lorem. Morbi posuere cursus blandit. Nunc euismod sapien eros, cursus lobortis sapien lacinia at. Morbi id dapibus magna, ac convallis odio. Maecenas auctor auctor diam quis imperdiet. Quisque non lacinia dolor. Nullam ac pellentesque lectus. Curabitur vulputate dui sit amet felis congue faucibus.</p>
    <p>Phasellus vel consequat turpis. Sed venenatis tempus leo in dapibus. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat purus at nisl pellentesque vehicula. Donec ac leo vel est mattis scelerisque. Nullam ac massa vitae risus vestibulum feugiat.</p>
  </div>
  <div class="span3">
    <p><img src="~/Content/images/cat1.jpg" /></p>
    <p><img src="~/Content/images/cat3.jpg" /></p>
  </div>
</div>
