@{
    ViewBag.Title = "ImplicitResponse";
}

<h2>ImplicitResponse</h2>
@section scripts {
<script>
  var hash = window.location.hash.substring(1);

  var elements = hash.split("&");
  var response = new Array();

  for (var i = 0; i < elements.length; i++) {
    var parts = elements[i].split("=");
    response[parts[0]] = parts[1];
  }

  var domDebugPanel = window.opener.document.getElementById("responseDebug");
  var debugPanel = $(domDebugPanel).css("display", "block");

  var domTable = window.opener.document.getElementById("implicitResponseResult");
  var table = $(domTable);
  table.empty();
  table.append("<tr><th>Raw response:</th><td><textarea style=\"width: 100%; height: 200px;\">" + hash + "</textarea></td></tr>");
  table.append("<tr><th>Token type:</th><td>" + response["token_type"] + "</td></tr>");
  table.append("<tr><th>Expires in:</th><td>" + response["expires_in"] + "</td></tr>");
  table.append("<tr><th>Scope:</th><td>" + response["scope"] + "</td></tr>");
  table.append("<tr><th>Token:</th><td><textarea style=\"width: 100%; height: 200px;\">" + response["access_token"] + "</textarea></td></tr>");

  $.post(window.location, { token: response["access_token"] });

  window.close();
</script>
}