@{
  ViewBag.Title = "Index";
}

<h2>Live Connect SDK Demo</h2>
<p>Press the button to start demo.</p>
<div id="signin"></div>
<label id="info"></label>

@section scripts {
  <script>
    $(document).ready(function () {
      WL.Event.subscribe("auth.login", onLogin);
      WL.init({
        client_id: "000000004810217E",
        redirect_uri: "http://demo.my/",
        scope: "wl.signin",
        response_type: "token"
      });
      WL.ui({
        name: "signin",
        element: "signin"
      });
      function onLogin(session) {
        if (!session.error) {
          WL.api({
            path: "me",
            method: "GET"
          }).then(
              function (response) {
                document.getElementById("info").innerText =
                    "Hello, " + response.first_name + " " + response.last_name + "!";
              },
              function (responseFailed) {
                document.getElementById("info").innerText =
                    "Error calling API: " + responseFailed.error.message;
              }
          );
        }
        else {
          document.getElementById("info").innerText =
              "Error signing in: " + session.error_description;
        }
      }
    });
  </script>
}