@{
  ViewBag.Title = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{
  <div class="row">
    <div class="span2">
      <img src="~/Content/images/icon-200.png" />
    </div>
    <div class="span9">
      <h1>Welcome to Job Done</h1>
      <p>The best task management website.</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">

    </div>
  </div>
}
else
{
  <div class="row">
    <div class="span9">
      <h1>Your tasks</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Estimated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Learn about OAuth</td>
            <td>1 day</td>
          </tr>
          <tr>
            <td>Set up LiveID</td>
            <td>1 hour</td>
          </tr>
          <tr>
            <td>Add OAuth provider to the website</td>
            <td>2 hours</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <p>Welcome back <strong>@User.Identity.Name</strong></p>
      <p>You completed <strong>34</strong> tasks @DateTime.Today.AddDays(-2).ToString("dd MMMM").</p>
      <img src="~/Content/images/icon-200.png" />
      <p>But there are still <strong>3</strong> tasks to do.</p>
    </div>
  </div>
}