@{
  ViewBag.Title = "Index";
}

<h2>OAuth 2.0 Google scopes demo</h2>
<p>Press the button to start demo with predefined scope.</p>
@using (Html.BeginForm("UserinfoProfileScope", "Home"))
{
  <button type="submit" class="btn btn-primary">userinfo.profile</button>
}
<p></p>
