@{
  ViewBag.Title = "Index";
}

<h2>OAuth 2.0 Google API demo</h2>
<p>Press the button to start demo using the Google API.</p>
@using (Html.BeginForm("UserData", "Home"))
{
  <button type="submit" class="btn btn-primary">Get user data</button>
}
<p></p>
