@{
  ViewBag.Title = "Index";
}

<h2>OAuth 2.0 Authorization Code Flow Demo</h2>
<p>Press the button to start OAuth 2.0 Authorization code flow demo.</p>
@using (Html.BeginForm("Start", "Home"))
{
    <button type="submit" class="btn btn-primary">Start Authorization Code Flow</button>
}